body {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Estilos para el título principal */
h1 {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Estilos para los botones */
button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 5px;
}

button:hover {
    background-color: #499949;
}

/* Estilo para el botón de eliminar */
#btn-eliminar {
    background-color: red;
    &:hover {
        background-color: #b20000;
    }
}

/* Estilo para el botón de editar */
#btn-editar {
    background-color: rgb(55, 200, 219);
    &:hover {
        background-color: rgb(0, 162, 176);
    }
}

/* Estilos para las tablas */
table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

th {
    background-color: green;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

td {
    padding: 10px;
    border: 1px solid black;
}

/* Estilos para los formularios */
form {
    margin: 0 auto;
    width: 80%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

input[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: #499949;
    }
}

/* Estilos responsivos */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 5px;
    }

    h1 {
        font-size: 28px;
    }

    body {
        padding: 10px;
    }
}
